/****** Section choix du restaurant ***********/

.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--greycolor);
    height: 50px;
    position: relative;
}

/****** Champ de saisie de la ville ***********/

form {
    display: flex;
    justify-content: center;
    width: 100%;
}

input{
    border: none;
    background-color: var(--greycolor);
    height:100%;
}


::placeholder{
    margin: 0%;
    color: var(--blackcolor);
    font-weight: 500;
    font-size: 16px;
    padding-right: 5px;
    font-style: normal;
}


/****** Logo de localisation ***********/
.fa-location-dot{
    width: 3.2%;
    height: 16px;
    margin-right: 4.53%;

}

