/****** Section choix du restaurant ***********/

.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--greycolor);
    height: 62.5px;
    position: relative;
}

/****** Champ de saisie de la ville ***********/

form {
    display: flex;
    justify-content: center;
    width: 100%;
}

input{
    border: none;
    background-color: var(--greycolor);
    height:30px;
}


::placeholder{
    margin: 0%;
    color: var(--blackcolor);
    font-size: 1.2rem;
    font-weight: 400;
    padding-right: 5px;
}


/****** Logo de localisation ***********/
.fa-location-dot{
    font-weight: 700;
    margin-right: 1rem;
    font-size: 1.2rem;
}

